.image{
  max-width: 100%;
  height: auto;
}

/*.imageplaceholder{
opacity: 0.5
}*/

.imageplaceholder{
  background-color: #C0C0C0
}

.myAtomicStyle{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
