.storyWrapper{
  display: flex;
  flex-direction: row;
}

.storyReader, .storyEditor{
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 16px;
}

.storyEditor{
  cursor: text;
  text-align: left;
}

.sidebarWrapper{
  padding: 16px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: 0;
  z-index: 10
}

.myAtomicStyle{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.atomicReader{
  margin-top: 16px;
  margin-bottom: 16px;
}

.atomicActionGroup{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.atomicActionItem{
  background-color: #FFFFFF;
  opacity: 0.75;
  z-index: 10;
  cursor: pointer;
}

.h1 {
  margin: 0px;
}

.subTitleContent{
  display: flex;
  flex-direction: row;
  background-color: #e4f0f5
}

.emojiSelect {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  background-color: #ffffff
}

.emojiGroupTitle {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #cccccc
}

.emojiGroup {
  display: flex;
  flex-flow: row wrap;
}

.emojiNavBar {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 12px;
  display: flex;
  flex-direction: row;
}

.navEntryActive .navEntry .emoji {
  width: 32px;
  height: 32px
}

.navEntryActive {
  opacity: 1.0
}

.navEntry {
  opacity: 0.75
}
.navEntry:hover {
  opacity: 1.0;
  background-color: #e1e1ea
}

.emoji:hover {
  background-color: #e1e1ea
}

.emojiImg {
  width: 28px;
  height: 28px
}

.sequenceAdjustor {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 50%;
  left: 100;
  right: 0
}

.headlineCropperCord {
  width: 100px;
  height: 30px;
  margin-left: -50px;
  margin-top: -15px;
  z-index: 10;
  background: rgba(255,255,255,0.4);
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
  color: #fff
}

.headlineAction {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  right: 0;
}

.headlineActionItem{
  margin-left: 4px;
  background: rgba(255,255,255,0.4);
  border-radius: 5px;
}

.headlineWithoutImage {
  position: absolute;
  top: 20%;
  left: 10%
}

.headlineWithImage {
  background: rgba(255,255,255,0.4);
  padding-left: 6px;
  border-radius: 5px;
  position: absolute;
  bottom: 120px;
  left: 15%
}

.headlineContainer {
  position: relative;
}

.storyTitle {
  background: rgba(255,255,255,0.4);
  border-radius: 5px;
  padding: 6px;
  z-index: 10;
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 25px;
}
