{
   "extends": "eslint:recommended",
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "warn",
    "no-unreachable": 0,
    "no-unused-vars": 1
  }
}
