.App {
  text-align: center;
}

.storyList{
float:right;
  padding-right: 80px;
/*width:50%;*/
/*min-width: 500px;*/

}

.headline{
  height: 400px;
  width: auto;
}

.headlineImage{
  /*max-height: 600px;*/
  width: 100%;
}
